* {
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #222;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 100%;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

img {

}

.left-menu,
.right-menu {
    display: block;
    color: black;
    cursor: pointer;
    font-size: 13px;
}

.left-menu {
    position: absolute;
    margin: 7px 0 0 10px;
}

.right-menu {
    min-width: 165px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    float: right;
    display: inline-block;
}

.logo {
    padding-top: 160px;
    padding-bottom: 30px;
    text-align: center;
    display: block;
    text-align: center;
    justify-content: center;
}

.search-box {
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    /* display: flex;
    position: relative;
    margin: 0px 174px;
    padding: 6px 0px 0px;
    text-align: center;
    justify-content: center; */
    
}

.search-box input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-align: start;
    position: relative; 
    padding: 5px 8px 0px 16px;
    margin: 0 auto;
    padding-left: 14px;
    padding-top: 6px;
    width: 484px;
    height: 34px;
    line-height: 34px;
    border-radius: 50px;
    font: 16px arial,sans-serif;
    cursor: text; 
}

.button-1,
.button-2 {
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 30px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#footer {
    display: block;
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: fixed;
    width: 100%;
}

#footer, a, link {
    display: inline-block;
    color: #5f6368;
    padding-left: 27px;
}

.foot {
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}


.left-foot {
    float: left;
    white-space: nowrap;
    color: #5f6368
}


.right-foot {
    float: right;
    padding-right: 27px;
    color: #5f6368
}

