* {
    background-color: white;
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #222;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
    height: 100vh;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

.left-menu,
.right-menu {
    display: block;
    color: black;
    cursor: pointer;
    font-size: 13px;
}

.left-menu {
    position: absolute;
    margin: 7px 0 0 10px;
}

.right-menu {
    padding-left: 30px;
    padding-right: 27px;
    position: relative;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    padding: 109px 0px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    text-align: center;
    justify-content: center;
    
}

.search-box input {
    position: relative;
    padding: 5px 8px 0px 16px;
    margin: 0 auto;
    padding-left: 14px;
    padding-top: 6px;
    width: 484px;
    height: 34px;
    line-height: 34px;
    border-radius: 50px;
    font: 16px arial,sans-serif;
    cursor: text;
}

.button-1,
.button-2 {
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#footer {
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: fixed;
    width: 100%;
}

#footer, a, link {
    display: inline-block;
    color: #5f6368;
    padding-left: 27px;
}

.foot {
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
}


.left-foot {
    float: left;
    white-space: nowrap;
    color: #5f6368
}


.right-foot {
    float: right;
    padding-right: 27px;
    color: #5f6368
}

